.env
k8s/overlays/prod/secrets/*
!k8s/overlays/prod/secrets/*.example
k8s/overlays/prod/configs/*
!k8s/overlays/prod/configs/*.example
node_modules/
dist/
services/api/src/generated/
services/api/prisma/seed.js
services/api/prisma/seed.js.map
__pycache__/
*.pyc
